{% extends 'base.html.twig' %}

{% block title %}Liste d'articles{% endblock %}
{% block body %}
    <div class="text-center mt-5 mb-5">
        <h1 class="text-success">Félicitation votre article a été créer avec succès !</h1>
        <h2 class="text-warning">Vous allez être rediriger. <span class="text-success"><b>; )</b></span></h2>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        setTimeout(function(){
            window.location.href = "/home";
        }, 2500);
    </script>
{% endblock %}